/** ------------------------------------------------------------
  ##  TAILWIND CSS
  --------------------------------------------------------- */

  @import 'tailwindcss/preflight';
  @import 'tailwindcss/components';
  @import 'tailwindcss/utilities';

/** ------------------------------------------------------------
  ##  CUSTOM CLASSES
  --------------------------------------------------------- */

@import './font.css';

html {
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: roboto;
	@apply text-black
}
a {
	text-decoration: none;
	@apply text-black
}
li {
	@apply leading-normal
}
button:focus {
	@apply outline-none
}